@use 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(to bottom, rgba(26, 25, 25, 0) 0%, rgba(59, 59, 59, 0) 95%), url('../img/portada/imagen\ guatavita\ 2.jpeg');
	background-repeat: no-repeat;
	height: 100%;
	// background: variables.$color-fondo;
	font-family: variables.$primary-font-family;
	font-size: 16px;
	color: #fff;
}

.contenedor {
	width: 90%;
	max-width: 1050px;
	margin: auto;
}

a {
	text-decoration: none;
	color: #fff;
}

a:focus,
button:focus {
	outline: none;
}
