@use 'variables';

.hero {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	background-position: center center;
	background-size: cover;
	position: relative;
	font-family: variables.$secondary-font-family;
	padding-top: 80px;

	&__titulo {
		font-size: 40px;
		font-weight: normal;
		text-shadow: variables.$text-shadow;
		color: #313030;
	}

	&__subtitulo {
		font-size: 22px;
		font-weight: normal;
		text-shadow: variables.$text-shadow;
		color: #ccc;
	}
}
